<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="nav-link" routerLink="home">
      <button type="button" class="btn btn-info">Home</button></a>
    <a class="omdb" routerLink="omdb">
      <button type="button" class="btn btn-warning">Omdb-Movies</button></a>
    <a class="nav-link" routerLink="favourite">
      <button type="button" class="btn btn-primary">Favourite</button></a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
