<div class="container">
    <div class="marvel">
        <p>Thanos</p>
    </div>
</div>
<!-- <div class="row">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Login/SignUp
    </button>
    <ul class="dropdown-menu">
      <li><a routerLink="login">Login</a></li>
    </ul>
  <a routerLink="/movie">
    <button type="button" class="btn btn-secondary"> Movies</button>
  </a>
  <a routerLink="/marvel">
    <button type="button" class="btn btn-danger">Marvel Characters</button>
  </a>
</div> -->